@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
        body{
            background-color: white;
            font-family: 'Oswald', sans-serif;
        }
        .background_force{
            background-color: white;
            font-family: 'Oswald', sans-serif;
        }
        .wrapper{
            background-color: white;
            width: 600px;
            padding: 40px;
            margin: auto;
            margin-top: 100px;
            border-radius: 30px;
            box-shadow: 5px 10px rgb(3, 51, 14);
        }

        input[type="text"], input[type="password"]{
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 15px;
        }
        .btn{
            width: 100%;
            padding: 10px;
            background-color: rgb(6, 71, 15);
            border: none;
            border-radius: 30px;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }
        a{
            text-decoration: none;
            text-align: center;
        }
        #outer
        {
            width:100%;
            text-align: center;
        }
        .inner
        {
            display: inline-block;
        }
        .bigtext
        {
            font-size: 50px;
        }
        .weirdborder
        {
           padding: 12px 20px;
           border: 2px solid red;
           border-radius: 30px;
        }
        .padd
        {
            padding : 15px;
            margin-bottom : 15px;
        }
        .round
        {
            border-radius: 30px;
        }